.container-home {
  color: white;
  margin: auto;
  height: auto;
  flex-direction: column;
  position: absolute;
  width: 100%;
  text-align: center;

  display: contents;
}

.container {
  color: white;
  margin: auto;
  height: auto;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
  font-size: 40px;

  display: contents;
}

.home-page-full-name {
  font-size: 9vw;
  text-shadow: none;
  font-weight: bolder;
  display: grid;
  text-shadow: 3px 3px 5px black;
}

.home-page-mission {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 5vw;
  display: grid;
  text-shadow: 3px 3px 5px black;
}

.empty-spacer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin: auto;
  padding: 5px;
  justify-content: center;
}

.learn-more-button {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  font-size: 2vw;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.25s;
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  padding: 15px;
  margin: auto;
  display: grid;
}

.learn-more-button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.25s;
}

.main-image {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 40%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.main-image-home {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 40%;
  display: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

.main-image-about {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.main-image-mausoleum {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 5%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.page-heading {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.page-title {
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  z-index: 1;
  display: grid;
  grid-auto-flow: column;
  text-shadow: 2px 2px 8px black;
}

.page-mission {
  color: white;
  height: auto;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 40px;
  z-index: 1;
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 25px;
  text-shadow: 3px 3px 5px black;
}

.page-title-mausoleum {
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  z-index: 1;
  display: grid;
  grid-auto-flow: column;
}

.page-mission-mausoleum {
  color: white;
  height: auto;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 40px;
  z-index: 1;
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 25px;
}

.red {
  display: inline;
  color: red;
}

.green {
  display: inline;
  color: lime;
}

.column-section {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 50px;
  grid-auto-flow: column;
}

.column-section-mausoleum {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-auto-flow: column;
  gap: 10px;
}

.column-link-logo {
  width: 3rem;
  margin-right: 1rem;
}

.column-link {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  padding: 1rem;
  display: inline-table;
  margin: auto;
  margin-bottom: 2rem;
  justify-content: center;
  text-align: center;
  transition: 0.25s;
  gap: 20px;
  z-index: 1;
}

.column-link:hover {
  transform: scale(1.1, 1.1);
}

.column-link-mausoleum {
  text-decoration: none;
  display: inline-table;
  text-align: center;
  transition: 0.25s;
  z-index: 1;
}

.column-link-mausoleum:hover {
  transform: scale(1.1, 1.1);
}

.column-link-4 {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  padding: 1rem;
  display: inline-table;
  margin: auto;
  justify-content: center;
  transition: 0.25s;
  gap: 20px;
  z-index: 1;
}

.column-3 {
  width: 25vw;
  border-radius: 10px;
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  padding: 1rem;
  display: inline-table;
  margin: 1rem;
  justify-content: center;
  transition: 0.25s;
  z-index: 1;
  background: rgba(0, 0, 0, 0.85);
}

.column-link-4:hover {
  transform: scale(1.1, 1.1);
  transition: 0.25s;
}

.column-center {
  float: center;
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  justify-content: center;
  transition: 0.25s;
  z-index: 1;
}

.column-section-twitch {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 50px;
  grid-auto-flow: column;
}

.column-center-twitch {
  display: grid;
  float: center;
  width: 90%;
  margin: auto;
  padding: auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  justify-content: center;
  transition: 0.25s;
  z-index: 1;
}

.twitch-video {
  justify-content: center;
}

.video-responsive {
  width: 90vw;
  height: 80vh;
  transition: 0.25s;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.column-left {
  float: center;
  width: 50%;
  margin: auto;
  margin-left: 20vw;
  justify-content: center;
  transition: 0.25s;
  z-index: 1;
}

.column-right {
  float: center;
  width: 70%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-right: 20vw;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  justify-content: center;
  transition: 0.25s;
  z-index: 1;
}

.about-portrait {
  width: 512px;
  position: relative;
  border-radius: 50%;
}

.column-text {
  font-size: 1.25rem;
}

.column-center-contact {
  float: center;
  width: 80vw;
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  justify-content: center;
  transition: 0.25s;
  z-index: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-email-link {
  color: white;
}

div[role="alert"] {
  color: red;
  margin-top: 1em;
  font-size: 1rem;
}

input {
  justify-content: center;
  margin: auto;
  padding: auto;
  border-radius: 5px;
  font-size: 1rem;
  height: 2em;
  width: 50vw;
  outline: none;
  border-width: 0;
  padding-left: 5px;
  padding-right: 5px;
}
textarea {
  justify-content: center;
  margin: auto;
  margin-top: 1em;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  height: 15em;
  width: 50vw;
}

.input-button {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  display: inline-table;
  margin: auto;
  justify-content: center;
  transition: 0.25s;
  z-index: 1;
  width: 20vw;
  border-width: 0;
}

.input-button:hover {
  transform: scale(1.1, 1.1);
}

.message-chars-left {
  font-size: 1rem;
  width: 50vw;
  margin: auto;
  text-align: left;
}

.column-contact {
  justify-content: center;
  margin: auto;
  padding: auto;
  width: 60vw;
}

@media screen and (max-width: 1800px) {
  .main-image-home {
    object-fit: cover;
    object-position: 60% 0%;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .about-portrait {
    width: 28vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .column-left {
    width: 90%;
    transition: 0.25s;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
  }

  .column-right {
    width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.25s;
    margin: auto;
  }
}

@media screen and (max-width: 960px) {
  .main-image {
    position: absolute;
  }

  .page-mission {
    top: 25px;
    font-size: 5vw;
    z-index: 1;
    text-shadow: 2px 2px 3px black;
  }

  .home-page-mission {
    text-shadow: 3px 3px 3px black;
  }

  .page-title {
    font-size: 15vw;
    z-index: 1;
  }

  .learn-more-button {
    font-size: 2.5vw;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
  }

  .column-section {
    display: grid;
    grid-auto-flow: row;
    margin-top: 25px;
    margin-bottom: 0px;
    grid-gap: 0px;
  }

  .column-section-mausoleum {
    display: grid;
    grid-auto-flow: row;
    margin-top: 25px;
    margin-bottom: 0px;
    grid-gap: 10px;
  }

  .column-3 {
    width: 90vw;
  }

  .column-link-mausoleum:hover {
    transform: scale(1.05, 1.05);
  }

  .column-link {
    font-size: 1rem;
    width: 80vw;
  }

  .column-link-4 {
    margin-bottom: 20px;
    font-size: 4vw;
  }

  .about-portrait {
    width: 70vw;
    margin-bottom: 25px;
  }

  .column-left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    transition: 0.25s;
  }

  .column-right {
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    align-self: auto;
  }

  .column-center {
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    align-self: auto;
  }

  .column-center-contact {
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    align-self: auto;
  }

  .column-text {
    font-size: 1rem;
  }

  .learn-more-button:hover {
    font-size: 2.75vw;
  }

  .video-responsive {
    height: 30vh;
  }

  input {
    width: 60vw;
  }
  textarea {
    width: 60vw;
  }

  .message-chars-left {
    width: 60vw;
  }

  .input-button {
    font-size: 1.5rem;
    width: 30vw;
    margin: 5px;
  }
}
