.container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
}

.main-image {
  max-width: 100%;
  max-height: 100%;
}

.home-page-full-name {
  font-size: 8vw;
  text-shadow: none;
  font-weight: bolder;
}

.home-page-mission {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 4vw;
}

.learn-more-button {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  font-size: 2vw;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.25s;
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  padding: 15px;
  margin: auto;
  display: inline-flex;
}

.learn-more-button:hover {
  font-size: 2.2vw;
  transition: 0.25s;
}

.page-title {
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 50px;
}

.page-mission {
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
  font-size: 30px;
}

.column-section {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 75px;
  gap: 50px;
  grid-auto-flow: column;
}

.column-left {
  float: center;
  width: 100%;
  margin: auto;
  justify-content: center;
  transition: 0.25s;
}
.column-right {
  float: center;
  width: 100%;
  margin: auto;
  padding-left: 18rem;
  padding-right: 18rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  justify-content: center;
  transition: 0.25s;
}

.about-portrait {
  width: 512px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1800px) {
  .column-left {
    transition: 0.25s;
  }

  .about-portrait {
    width: 28vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .column-right {
    padding-left: 16rem;
    padding-right: 16rem;
    transition: 0.25s;
  }
}

@media screen and (max-width: 960px) {
  .page-mission {
    top: 25px;
    font-size: 5vw;
  }

  .page-title {
    font-size: 15vw;
    margin-bottom: 25px;
  }

  .learn-more-button {
    font-size: 2.5vw;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
  }

  .spacer {
    margin: 10px;
  }

  .learn-more-button:hover {
    font-size: 2.75vw;
  }
}
