.container-home {
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-image-home {
  max-width: 100%;
  max-height: 100%;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 40%;
}

.home-page-full-name {
  font-size: 8vw;
  text-shadow: none;
  font-weight: bolder;
}

.home-page-mission {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 4vw;
}

.learn-more-button {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  font-size: 2vw;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.25s;
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  padding: 15px;
  margin: auto;
  display: inline-flex;
}

.learn-more-button:hover {
  font-size: 2.2vw;
  transition: 0.25s;
}

.page-title {
  width: 100%;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 50px;
}

.page-mission {
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
  font-size: 30px;
}

.column-section {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 75px;
  gap: 50px;
  grid-auto-flow: column;
}

.column-left {
  float: center;
  width: 100%;
  margin: auto;
  justify-content: center;
  transition: 0.25s;
}
.column-right {
  float: center;
  width: 100%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  justify-content: center;
  transition: 0.25s;
}

.about-portrait {
  width: 512px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.column-text {
  font-size: 1.25rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1800px) {
  .column-left {
    margin: auto;
    transition: 0.25s;
  }

  .about-portrait {
    width: 28vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .column-left {
    width: 90%;
    padding-left: 2rem;
    transition: 0.25s;
  }

  .column-right {
    width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.25s;
  }
}

@media screen and (max-width: 960px) {
  .container {
    min-height: 1100px;
  }

  .main-image {
    object-fit: cover;
  }

  .page-mission {
    top: 25px;
    font-size: 5vw;
  }

  .page-title {
    font-size: 15vw;
    margin-bottom: 25px;
  }

  .learn-more-button {
    font-size: 2.5vw;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
  }

  .column-section {
    display: inline-block;
    margin-top: 25px;
  }

  .about-portrait {
    width: 70vw;
    margin-bottom: 25px;
  }

  .column-left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    transition: 0.25s;
  }

  .column-right {
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    align-self: auto;
  }

  .column-text {
    font-size: 1rem;
  }

  .spacer {
    margin: 10px;
  }

  .learn-more-button:hover {
    font-size: 2.75vw;
  }
}
