.Typography:hover{
  margin-top: 1em;
}


.navbar-background {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  height: 50px;
  width: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 0px;
  list-style: none;
  width: 70vw;
  justify-content: end;
  margin-right: 30rem;
  margin-left: 2rem;
}

.navbar-site-name-link {
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 0px white;
  justify-content: left;
  transition: 0.2s;
  margin-left: 30rem;
  padding: 15px;
}

.navbar-site-name-link:hover {
  padding-top: 10px;
  transition: 0.2s;
}

.nav-links {
  color: transparent;
  text-shadow: 0px 0px 0px white;
  text-decoration: none;
  padding: 15px;
  position: relative;
  display: block;
  transition-duration: 0.33s;
}

.nav-links:hover {
  padding-top: 10px;
  transition-duration: 0.2s;
}

.fa-bars {
  color: transparent;
  font-size: 2rem;
  text-shadow: 0px 0px 0px white;
  position: relative;
  display: flex;
  z-index: 1;
}

.fa-times {
  color: transparent;
  font-size: 2rem;
  position: relative;
  text-shadow: 0px 0px 0px white;
  z-index: 1;
}

.nav-links-mobile {
  color: #fff;
}

.menu-icon {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 960px) {
  .navBarItems {
    position: relative;
  }

  .navbar-background {
    position: relative;
    z-index: 100;
  }

  .nav-menu {
    flex-direction: column;
    width: auto;
    height: auto;
    position: absolute;
    float: right;
    margin: auto;
    top: 50px;
    right: 0%;
    visibility: hidden;
  }

  .nav-menu.firstactive {
    background: linear-gradient(
      45deg,
      rgb(56, 198, 244) 0%,
      rgb(60, 50, 235) 80%
    );
    top: 50px;
    right: 0%;
    display: flex;
    visibility: hidden;
    opacity: 0;
  }

  .nav-menu.inactive {
    background: linear-gradient(
      45deg,
      rgb(56, 198, 244) 0%,
      rgb(60, 50, 235) 80%
    );
    top: 50px;
    right: 0%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    animation: fadeOut 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .nav-menu.active {
    background: linear-gradient(
      45deg,
      rgb(56, 198, 244) 0%,
      rgb(60, 50, 235) 80%
    );
    top: 50px;
    right: 0%;
    display: flex;
    animation: fadeIn 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .navbar-site-name-link {
    color: transparent;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    text-shadow: 0px 0px 0px #fff;
    margin: auto;
    padding: 15px;
  }

  .navbar-site-name-link:hover {
    padding-top: 10px;
    transition: 0.2s;
  }

  .nav-links {
    color: transparent;
    text-shadow: 0px 0px 0px white;
    text-decoration: none;
    position: relative;
    display: block;
    z-index: 1;
    padding: 25px;
  }

  .nav-links:hover {
    position: relative;
    padding-bottom: 40px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
  }
}
