.social {
  color: transparent;
  padding-top: 20px;
}

.social-icon {
  color: transparent;
  margin: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition-duration: 0.33s;
}

.social-icon:hover {
  color: transparent;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  position: static;
  transition-duration: 0.33s;
}

.website-description {
  color: transparent;
  padding: 0.3rem;
  text-shadow: 0px 0px 0px grey;
}

.copyright {
  color: transparent;
  text-shadow: 0px 0px 0px grey;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  list-style: none;
  justify-content: center;
}

.copyright-left-right {
  padding-top: 15px;
  padding-bottom: 15px;
}

.div {
  display: none;
}

.copyright-link {
  color: grey;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  display: block;
  transition-duration: 0.2s;
}

.copyright-link:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

.copyright-link:hover {
  padding-top: 10px;
  transition-duration: 0.2s;
}

.copyright-link:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
