.social {
  color: transparent;
}

.social-icon {
  color: transparent;
  margin: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition-duration: 0.33s;
}

.social-icon:hover {
  color: transparent;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  position: static;
  transition-duration: 0.33s;
}

.website-description {
  color: transparent;
  padding: 0.3rem;
  text-shadow: 0px 0px 0px white;
}

.copyright {
  color: transparent;
  text-shadow: 0px 0px 0px white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 8px;
  list-style: none;
  justify-content: center;
}

.copyright-left-right {
  padding-top: 15px;
  padding-bottom: 15px;
}

.div {
  display: none;
}

.copyright-link {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  display: block;
  transition-duration: 0.2s;
}

.copyright-link:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.copyright-link:hover {
  padding-top: 10px;
  transition-duration: 0.2s;
}

.copyright-link:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.footer {
  background: linear-gradient(
    90deg,
    rgb(56, 198, 244) 0%,
    rgb(60, 50, 235) 70%
  );
  padding: 20px;
}

@media screen and (max-width: 960px) {
  .copyright {
    display: inline-block;
    grid-gap: 0px;
  }

  .copyright-left-right {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .copyright-link {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
  }

  .copyright-link:hover {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
